<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Оформление заказа</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-order.css">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="top-menu">
          <div class="wrapper">
            <ul class="top-menu__items">
              <li class="top-menu__item"><a href="#">Возврат</a></li>
              <li class="top-menu__item"><a href="#">Доставка и оплата</a></li>
              <li class="top-menu__item"><a href="#">О магазине</a></li>
              <li class="top-menu__item"><a href="#">Контакты</a></li>
              <li class="top-menu__item"><a href="#">Новости</a></li>
            </ul>
          </div>
        </div>
        <div class="header-main">
          <div class="header-main__wrapper wrapper">
            <div class="header-main__phone"><a href="tel:+7-495-790-35-03">+7 495 79 03 5 03</a>
              <p>Ежедневно: с 09-00 до 21-00</p>
            </div>
            <div class="header-main__logo"><a href="index.html">
                <h1><img src="img/header-logo.png" alt="logotype"></h1></a>
              <p>Обувь и аксессуары для всей семьи</p>
            </div>
            <div class="header-main__profile">
              <div class="header-main__pics">
                <div class="header-main__pic header-main__pic_search"></div>
                <div class="header-main__pic_border"></div>
                <div class="header-main__pic header-main__pic_profile">
                  <div class="header-main__pic_profile_menu"></div>
                </div>
                <div class="header-main__pic_border"></div>
                <div class="header-main__pic header-main__pic_basket">
                  <div class="header-main__pic_basket_full">1</div>
                  <div class="header-main__pic_basket_menu"></div>
                </div>
              </div>
              <form class="header-main__search" action="#">
                <input placeholder="Поиск"><i class="fa fa-search" aria-hidden="true"></i>
              </form>
            </div>
          </div>
          <div class="header-main__hidden-panel hidden-panel">
            <div class="hidden-panel__profile"><a href="#">Личный кабинет</a><a href="favorite.html"><i class="fa fa-heart-o" aria-hidden="true"></i>Избранное</a><a href="#">Выйти</a></div>
            <div class="hidden-panel__basket basket-dropped">
              <div class="basket-dropped__title">В вашей корзине:</div>
              <div class="basket-dropped__product-list product-list">
                <div class="product-list__item"><a class="product-list__pic" href="#"><img src="img/product-list__pic_1.jpg" alt="product"></a><a class="product-list__product" href="#">Ботинки женские, Baldinini</a>
                  <div class="product-list__fill"></div>
                  <div class="product-list__price">12 360<i class="fa fa-rub" aria-hidden="true"></i></div>
                  <div class="product-list__delete"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="product-list__item"><a class="product-list__pic" href="#"><img src="img/product-list__pic_1.jpg" alt="product"></a><a class="product-list__product" href="#">Ботинки женские, Baldinini</a>
                  <div class="product-list__fill"></div>
                  <div class="product-list__price">12 360<i class="fa fa-rub" aria-hidden="true"></i></div>
                  <div class="product-list__delete"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="product-list__item"><a class="product-list__pic" href="#"><img src="img/product-list__pic_1.jpg" alt="product"></a><a class="product-list__product" href="#">Ботинки женские, Baldinini</a>
                  <div class="product-list__fill"></div>
                  <div class="product-list__price">12 360<i class="fa fa-rub" aria-hidden="true"></i></div>
                  <div class="product-list__delete"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="product-list__item"><a class="product-list__pic" href="#"><img src="img/product-list__pic_1.jpg" alt="product"></a><a class="product-list__product" href="#">Ботинки женские, Baldinini</a>
                  <div class="product-list__fill"></div>
                  <div class="product-list__price">12 360<i class="fa fa-rub" aria-hidden="true"></i></div>
                  <div class="product-list__delete"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
              </div><a class="basket-dropped__order-button" href="order.html">Оформить заказ</a>
            </div>
          </div>
        </div>
        <nav class="main-menu">
          <div class="wrapper">
            <ul class="main-menu__items">
              <li class="main-menu__item main-menu__item_sales"><a href="#">акции</a></li>
              <li class="main-menu__item main-menu__item_women"><a href="#">Женская обувь</a></li>
              <li class="main-menu__item main-menu__item_men"><a href="#">Мужская обувь</a></li>
              <li class="main-menu__item main-menu__item_kids"><a href="#">Детская обувь</a></li>
              <li class="main-menu__item main-menu__item_accessories"><a href="#">аксессуары</a></li>
              <li class="main-menu__item main-menu__item_home"><a href="#">для дома</a></li>
              <li class="main-menu__item main-menu__item_brands"><a href="#">бренды</a></li>
              <li class="main-menu__item main-menu__item_new"><a href="#">новинки</a></li>
            </ul>
          </div>
        </nav>
        <div class="dropped-menu">
          <div class="wrapper">
            <div class="dropped-menu__lists dropped-menu__lists_women">
              <h3 class="dropped-menu__list-title">повод:</h3>
              <ul class="dropped-menu__list">
                <li class="dropped-menu__item"><a href="#">Офис</a></li>
                <li class="dropped-menu__item"><a href="#">Вечеринка</a></li>
                <li class="dropped-menu__item"><a href="#">Свадьба</a></li>
                <li class="dropped-menu__item"><a href="#">Спорт</a></li>
                <li class="dropped-menu__item"><a href="#">Море</a></li>
                <li class="dropped-menu__item"><a href="#">Дом</a></li>
                <li class="dropped-menu__item"><a href="#">Повседневное</a></li>
              </ul>
            </div>
            <div class="dropped-menu__lists dropped-menu__lists_three-coloumns">
              <h3 class="dropped-menu__list-title">категории:</h3>
              <ul class="dropped-menu__list">
                <li class="dropped-menu__item"><a href="#">Балетки</a></li>
                <li class="dropped-menu__item"><a href="#">Босоножки</a></li>
                <li class="dropped-menu__item"><a href="#">Ботильоны</a></li>
                <li class="dropped-menu__item"><a href="#">Ботинки</a></li>
                <li class="dropped-menu__item"><a href="#">Ботфорты</a></li>
                <li class="dropped-menu__item"><a href="#">Галоши</a></li>
                <li class="dropped-menu__item"><a href="#">Кеды и кроссовки</a></li>
                <li class="dropped-menu__item"><a href="#">Мокасины</a></li>
                <li class="dropped-menu__item"><a href="#">Полусапоги</a></li>
                <li class="dropped-menu__item"><a href="#">Резиновые сапоги</a></li>
                <li class="dropped-menu__item"><a href="#">Сабо</a></li>
                <li class="dropped-menu__item"><a href="#">Сапоги</a></li>
                <li class="dropped-menu__item"><a href="#">Сникерсы</a></li>
                <li class="dropped-menu__item"><a href="#">Тапочки</a></li>
                <li class="dropped-menu__item"><a href="#">Туфли</a></li>
                <li class="dropped-menu__item"><a href="#">Шлёпанцы и вьетнамки</a></li>
              </ul>
            </div>
            <div class="dropped-menu__lists">
              <h3 class="dropped-menu__list-title">сезон:</h3>
              <ul class="dropped-menu__list">
                <li class="dropped-menu__item"><a href="#">Зима</a></li>
                <li class="dropped-menu__item"><a href="#">Весна</a></li>
                <li class="dropped-menu__item"><a href="#">Лето</a></li>
                <li class="dropped-menu__item"><a href="#">Осень</a></li>
              </ul>
            </div>
            <div class="dropped-menu__lists">
              <h3 class="dropped-menu__list-title">бренды:</h3>
              <ul class="dropped-menu__list">
                <li class="dropped-menu__item"><a href="#">Albano</a></li>
                <li class="dropped-menu__item"><a href="#">Ballin</a></li>
                <li class="dropped-menu__item"><a href="#">Baldinini</a></li>
                <li class="dropped-menu__item"><a href="#">Damlax</a></li>
                <li class="dropped-menu__item"><a href="#">Pegia</a></li>
                <li class="dropped-menu__item"><a href="#">Renzi</a></li>
                <li class="dropped-menu__item"><a href="#">Все</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="wrapper order-wrapper">                  
        <div class="site-path">
          <ul class="site-path__items">
            <li class="site-path__item"><a href="index.html">Главная</a></li>
            <li class="site-path__item"><a href="#">Корзина</a></li>
            <li class="site-path__item"><a href="#">Оформление заказа</a></li>
          </ul>
        </div>
        <section class="order-process">
          <h2 class="order-process__title">Оформление заказа</h2>
          <div class="order-process__basket order-basket">
            <div class="order-basket__title">в вашей корзине:</div>
            <div class="order-basket__item-list">
              <div class="basket-item">
                <div class="basket-item__pic"><img src="img/catalogue-pics/product-catalogue__item-1.png" alt="product_1"></div>
                <div class="basket-item__product">
                  <div class="basket-item__product-name"><a href="#">Босоножки женские</a></div>
                  <div class="basket-item__product-features">
                    <div class="basket-item__size">Размер: <span>37</span></div>
                    <div class="basket-item__producer">Производитель: <span>Albano</span></div>
                    <div class="basket-item__color">Цвет: <span>Черный</span></div>
                  </div>
                </div>
                <div class="basket-item__quantity">
                  <div class="basket-item__quantity-change basket-item-list__quantity-change_minus">-</div>1
                  <div class="basket-item__quantity-change basket-item-list__quantity-change_plus">+</div>
                </div>
                <div class="basket-item__price">5 950 <i class="fa fa-rub" aria-hidden="true"></i></div>
              </div>
              <div class="basket-item">
                <div class="basket-item__pic"><img src="img/catalogue-pics/product-catalogue__item-1.png" alt="product_1"></div>
                <div class="basket-item__product">
                  <div class="basket-item__product-name"><a href="#">Босоножки женские</a></div>
                  <div class="basket-item__product-features">
                    <div class="basket-item__size">Размер: <span>37</span></div>
                    <div class="basket-item__producer">Производитель: <span>Albano</span></div>
                    <div class="basket-item__color">Цвет: <span>Черный</span></div>
                  </div>
                </div>
                <div class="basket-item__quantity">
                  <div class="basket-item__quantity-change basket-item-list__quantity-change_minus">-</div>1
                  <div class="basket-item__quantity-change basket-item-list__quantity-change_plus">+</div>
                </div>
                <div class="basket-item__price">5 950 <i class="fa fa-rub" aria-hidden="true"></i></div>
              </div>
            </div>
            <div class="order-basket__summ">Итого:&nbsp<span>12 050 <i class="fa fa-rub" aria-hidden="true"></i></span></div>
          </div>
          <div class="order-process__confirmed">
            <form action="#">
              <div class="order-process__delivery">
                <h3 class="h3">кому и куда доставить?</h3>
                <div class="order-process__delivery-form">
                  <label class="order-process__delivery-label">
                    <div class="order-process__delivery-text">Имя</div>
                    <input class="order-process__delivery-input" type="text" name="delivery" placeholder="Представьтесь, пожалуйста">
                  </label>
                  <label class="order-process__delivery-label">
                    <div class="order-process__delivery-text">Телефон</div>
                    <input class="order-process__delivery-input" type="tel" name="delivery" placeholder="Номер в любом формате">
                  </label>
                  <label class="order-process__delivery-label">
                    <div class="order-process__delivery-text">Адрес</div>
                    <input class="order-process__delivery-input order-process__delivery-input_adress" type="text" name="delivery" placeholder="Ваша покупка будет доставлена по этому адресу">
                  </label>
                </div>
                <p>Все поля обязательны для заполнения. Наш оператор свяжется с вами для уточнения деталей заказа.</p>
              </div>
              <div class="order-process__paid">
                <h3 class="h3">хотите оплатить онлайн или курьеру при получении?</h3>
                <div class="order-process__paid-form">
                  <label class="order-process__paid-label">
                    <input class="order-process__paid-radio" type="radio" name="paid" value="card-online"><span class="order-process__paid-text">Картой онлайн</span>
                  </label>
                  <label class="order-process__paid-label">
                    <input class="order-process__paid-radio" type="radio" name="paid" value="card-courier" checked=""><span class="order-process__paid-text">Картой курьеру</span>
                  </label>
                  <label class="order-process__paid-label">
                    <input class="order-process__paid-radio" type="radio" name="paid" value="cash"><span class="order-process__paid-text">Наличными курьеру</span>
                  </label>
                </div>
              </div>
              <button class="order-process__form-submit order-process__form-submit_click">Подтвердить заказ</button>
            </form>
          </div>
        </section>
      </div>
      <footer class="footer">
        <section class="subscribe">
          <div class="subscribe__wrapper">
            <h2 class="subscribe__title">подписаться на рассылку выгодных предложений</h2>
            <form class="subscribe__radios" action="">
              <label class="subscribe__radio_label">
                <input class="subscribe__radio" type="radio" name="subscribe" value="women">
                <div class="subscribe__radio_text">Женское</div>
              </label>
              <label class="subscribe__radio_label">
                <input class="subscribe__radio" type="radio" name="subscribe" value="men">
                <div class="subscribe__radio_text">Мужское</div>
              </label>
              <label class="subscribe__radio_label">
                <input class="subscribe__radio" type="radio" name="subscribe" value="both" checked="">
                <div class="subscribe__radio_text">Всё</div>
              </label>
              <input class="subscribe__email" type="email" placeholder="Ваш e-mail">
              <input class="subscribe__submit" type="submit" value="ПОДПИСАТЬСЯ">
            </form>
          </div>
        </section>
        <div class="footer__bottom">
          <div class="wrapper">
            <div class="footer__menus">
              <div class="footer__menu footer__menu_about">О магазине
                <ul>
                  <li><a href="#">BosaNoga</a></li>
                  <li><a href="#">Новости</a></li>
                  <li><a href="#">Пресса</a></li>
                </ul>
              </div>
              <div class="footer__menu footer__menu_collection">Коллекции
                <ul>
                  <li><a href="#">Обувь</a></li>
                  <li><a href="#">Аксессуары</a></li>
                  <li><a href="#">Для дома</a></li>
                </ul>
              </div>
              <div class="footer__menu footer__menu_help">Помощь
                <ul>
                  <li><a href="#">Как купить?</a></li>
                  <li><a href="#">Возврат</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="footer__info">
              <h3 class="footer__info_title">Принимаем к оплате:</h3>
              <div class="footer__paid-systems">
                <div class="footer__paid footer__paid_paypal"></div>
                <div class="footer__paid footer__paid_master-card"></div>
                <div class="footer__paid footer__paid_visa"></div>
                <div class="footer__paid footer__paid_yandex"></div>
                <div class="footer__paid footer__paid_webmoney"></div>
                <div class="footer__paid footer__paid_qiwi"></div>
              </div>
              <div class="footer__social-links">
                <h3 class="footer__social-links_title">Мы в соц.сетях:</h3>
                <div class="footer__social-link footer__social-link_twitter"></div>
                <div class="footer__social-link footer__social-link_vk"></div>
              </div>
              <div class="footer__copyright">2009-2018 © BosaNoga.ru — модный интернет-магазин обуви<br> и аксессуаров. Все права защищены. Доставка по всей России!</div>
            </div>
            <div class="footer__contacts"><a class="footer__phone" href="tel:+7-495-790-35-03">+7 495 79 03 5 03</a>
              <p class="footer__phone_text">Ежедневно: с 09-00 до 21-00</p><a class="footer__email" href="mailto:office@bosanoga.ru">office@bosanoga.ru</a>
            </div>
          </div>
        </div>
      </footer>
      <script src="js/script.js"></script>
    </div>
  </body>
</html>